
.error-msg{
	color:#f50;
	padding-left:10px;
	padding-top:10px;
}

.am-tab-bar{
	position: fixed;
	bottom: 0;
	width: 100%;
}
.fixd-header.am-navbar{
	position: fixed;
	top: 0;
	width: 100%;
}
.page-content{
	padding:45px 5px;
}
.am-tab-bar{
	height: auto;
}

.fix-bottom{
	position: fixed;
	bottom: 0;
	width: 100vw;
}
.chat-me .am-list-content{
	padding-right: 15px;
	text-align: right!important
}
.chat-page .am-list-extra{
	flex-basis: 15% !important;
}
.chat-page  .am-grid-icon{
	display: none;
}
.chat-page .am-grid-text{
	margin-top: 0 !important
}